openapi: 3.0.3

info:
  title: API Aula
  version: 1.0.0
  description: API da aula de laboratório web com api first
  contact:
    name: Sistemax
    email: contato@sistemax.com.br

servers:
  - url: http://sistemax.com.br/api/v1
  - url: http://sistemax-stage.com.br/api/v1

tags:
  - name: Pacientes
    description: Operações relacionadas a pacientes
    externalDocs:
      url: http://sistemax.com.br/docs/pacientes

paths:
  /pacientes:
    post:
      tags:
        - Pacientes
      summary: Cadastra um novo paciente
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PacienteRequest'
      responses:
        '201':
          description: Paciente cadastrado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacienteResponse'

    get:
      tags:
        - Pacientes
      summary: Retorna uma lista todos os pacientes
      responses:
        '200':
          description: Lista de pacientes
          content:
            application/json:
              schema:
                required: ["cpf"]
                type: array
                items:
                  $ref: '#/components/schemas/PacienteResponse'
        '400':
          description: Requisição inválida feita pelo cliente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseError'

components:
  schemas:
    PacienteRequest:
      $ref: 'schemas/paciente-request.yaml#/definitions/PacienteRequest'

    PacienteResponse:
      $ref: 'schemas/paciente-response.yaml#/definitions/PacienteResponse'

    ResponseError:
      $ref: 'schemas/response-error.yaml#/definitions/ResponseError'
